{% extends 'agent/dashboard.html' %}

{% block content %}
  <h1>My Dashboard</h1>
  <style>
    .card-gradient-1 {
      background: linear-gradient(135deg, #a186be, #d6a3dc); /* Lighter purple gradient */
      color: white; /* White text color */
    }
    
    .card-gradient-2 {
      background: linear-gradient(135deg, #ff5e62, #ff9966); /* Red to orange gradient */
      color: white; /* White text color */
    }
    
    .card-gradient-3 {
      background: linear-gradient(135deg, #1cd8d2, #93edc7); /* Cyan to light green gradient */
      color: white; /* White text color */
    }
  </style>

  <div class="container mt-4">
    {% if user_role == 'Agent' %}
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card card-gradient-1">
            <div class="card-body">
              <h5 class="card-title">Connected Homeowners</h5>
              {% if homeowners.exists %}
                {% for homeowner in homeowners %}
                  <p class="card-text">{{ homeowner.user.email }}</p>
                {% endfor %}
              {% else %}
                <p class="card-text">No connected homeowners</p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card card-gradient-1">
            <div class="card-body">
              <h5 class="card-title">Properties Listed</h5>
              <p class="card-text">You have {{ properties_count }} properties listed.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card card-gradient-1">
            <div class="card-body">
              <h5 class="card-title">Connected Assistant</h5>
              {% if assistant %}
                <p class="card-text">{{ assistant.user.email }}</p>
              {% else %}
                <p class="card-text">No connected assistant</p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card card-gradient-2">
            <div class="card-body">
              <a href="{% url 'all_agent_properties_dashboard' %}" class="card-title">All Properties</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card card-gradient-3">
            <div class="card-body">
              <a href="{% url 'favourite_properties' %}" class="card-title">Favourites</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-4">
          <div class="card card-gradient-2">
            <div class="card-body">
              <a href="{% url 'properties_tobe_approved' %}" class="card-title">Property Approval</a>
            </div>
          </div>
        </div>
      </div>
    {% elif user_role == 'Assistant' %}
      <div class="row">
        <div class="col-md-12 mb-4">
          <div class="card card-gradient-1">
            <div class="card-body">
              <h5 class="card-title">Connected Agents</h5>
              {% if connected_agents|length == 0 %}
                <p class="card-text">No connected agents.</p>
              {% else %}
                <ul class="list-group list-group-flush">
                  {% for agent in connected_agents %}
                    <li class="list-group-item">{{ agent.user.email }}</li>
                  {% endfor %}
                </ul>
                <p class="mt-3">Total Properties Managed: {{ properties_count }}</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="row">
        <div class="col-md-12 mb-4">
          <div class="card card-gradient-1">
            <div class="card-body">
              <h5 class="card-title">Your Properties</h5>
              <p class="card-text">You have {{ properties_count }} properties listed.</p>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
