{% extends "agent/agent_dashboard.html" %}
{% block content %}

<h2>Approve Property</h2>
<p>Are you sure you want to approve the following property?</p>
<p>
    Address: {{ property.address }}<br>
    Price: {{ property.price }}<br>
    Bedrooms: {{ property.bedrooms }}<br>
    Bathrooms: {{ property.bathrooms }}<br>
    Square Feet: {{ property.square_feet }}<br>
</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Approve</button>
    <a href="{% url 'property_approval_list' %}" class="btn btn-secondary">Cancel</a>
</form>

{% endblock %}