{% extends 'agent/dashboard.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Your Properties</h2>
    <div class="row">
        {% for property in properties %}
            <div class="col-md-4">
                <div class="property-card">
                    <img src="{{ property.property_images.url }}" alt="Property Image" class="img-fluid"/>
                    <div class="property-info">
                        <p class="property-price">${{ property.price }}</p>

                        
                    

                      
                        <p class="property-location">{{ property.address }}, {{ property.state }}</p>


                
                        <a href="{{ property.contract.url }}" class="property-doc-btn">Property Document 
                            <i class="fas fa-cloud-download-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No properties found.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
