{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Requests</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <style>
      .alert-container .alert {
        margin-top: 10px; /* Additional styling for alerts */
      }

      .btn-purple{
        
        background-color: purple;
        padding: 5px 10px;
        color: white;
      }

      a{
        text-decoration: none;
      }
     
    </style>
  </head>
  <body>

     <!-- Top Bar -->
     <div class="top-bar text-center text-md-start">
      <div class="container d-flex justify-content-between align-items-center">
        <span style="font-size: 12px;"><i class="fas fa-map-marker-alt"></i> Anywhere in the world</span>
        <div>
          <a style="font-size: 12px;" href="tel:+12788999722"><i class="fas fa-phone-alt"></i> +1 278-899-9722</a>
          <span class="mx-2"></span>
          <a style="font-size: 12px;" href="mailto:info@agentspyglass.com">
            <i class="fas fa-envelope"></i>
            info@agentspyglass.com
          </a>
        </div>
      </div>
    </div>

    <!-- Main Header -->
    <nav class="navbar navbar-expand-lg navbar-light main-header py-3">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'listed_properties' %}">Listings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
            {% if user.role == 'SuperAdmin' %}
              <li class="nav-item">
                <a class="contact nav-link" href="{% url 'admin_dashboard' %}">Dashboard</a>
              </li>
            {% endif %}
            {% if user.role == 'Agent' or user.role == 'Assistant' %}
              <li class="nav-item">
                <a class="contact nav-link" href="{% url 'dashboard' %}">Dashboard</a>
              </li>
            {% endif %}
            {% if user.role == 'Homeowner' %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'agent_invites_for_homeowner' %}"> Agent Requests</a>
              </li>
            {% endif %}
            {% if user.role == 'Assistant' %}
              <li class="nav-item">
                <a class="contact nav-link" href="{% url 'agent_invites_for_assistant' %}">Agent Requests</a>
              </li>
            {% endif %}
          </ul>
          <div class="d-flex align-items-center">
            {% if user.is_authenticated %}
              <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
            {% else %}
              <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-user"></i> Login/Register</a>
            {% endif %}
            {% if user.is_authenticated and user.role == 'Homeowner' %}
              <a class="btn btn-add-listing" href="{% url 'process_agent_homeowner' %}"><i class="fas fa-home"></i> Add Listing</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>

    <br>
    <br>
    <br>
    
    <div class="container my-4 p-4 bg-white rounded shadow mt-5" >
      <h2 class="text-center mb-4" style="color: blueviolet">
        All Agents Available
      </h2>
      {% if messages %}
      <div class="alert-container">
        {% for message in messages %}
        <div
          class="alert alert-{{ message.tags }}"
          role="alert"
          style="color: blueviolet"
        >
          {{ message }}
        </div>
        {% endfor %}
      </div>
      {% endif %}
      <ul>
        {% for request in requests %}
          <li class="d-flex mb-4" >
            Request from {{ request.sender }} to {{ request.receiver }} - 
            Status: 
            <form method="post" action="{% url 'agent_invites_for_homeowner' %}">
                    {% csrf_token %}
                    <input type="hidden" name="request_id" value="{{ request.id }}">
                    <select name="status">
                        {% for key, value in request.STATUS_CHOICES %}
                            <option value="{{ key }}" {% if request.status == key %}selected{% endif %}>{{ value }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-purple btn-md mx-3">Update</button>
                </form>
          </li>
        {% empty %}
          <li>No connection requests found.</li>
        {% endfor %}
      </ul>
     
    </div>

    <script>
      window.onscroll = function() {
          var header = document.querySelector('.main-header');
          var topBarHeight = document.querySelector('.top-bar').offsetHeight;
          
          if (window.pageYOffset > topBarHeight) {
              header.classList.add('sticky');
          } else {
              header.classList.remove('sticky');
          }
      };
  </script>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
