{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>
  <body>
    {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </li>
    {% endfor %}
  </ul>
{% endif %}

    <div class="container-fluid mt-5">
      <div class="row no-gutters">
        <!-- Form Section -->
        <div class="col-lg-6 d-flex align-items-center">
          <div class="form-container mx-auto">
            <h2 class="text-center" style="font-size: 35px">Log In</h2>
            <div class="separator"></div>

            <form method="post" action="{% url 'login' %}">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" class="form-control" id="email" name="email" placeholder="Email" />
              </div>
              <div class="form-group position-relative">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" />
                <span class="toggle-password"><i class="fa fa-eye" aria-hidden="true"></i></span>
              </div>
              <div class="text-right">
                <a href="{% url 'password_reset_request'%}" style="color: rgb(197, 197, 197); font-size:15px;">Forgot Password?</a>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Log In</button>
              <div class="text-center">
                <span style="color: rgb(197, 197, 197); font-size:15px;">
                  Don't have an account?
                  <a href="{% url 'register'%}" style="color: blueviolet">Sign Up</a>
                </span>
              </div>
            </form>

            <div class="container mt-5">
              <div class="custom-outline">
                <!-- Left Side: Icons -->
                <div class="icon-container">
                  <i class="fa fa-users"></i>
                </div>

                <!-- Right Side: Description and Subscribe Button -->
                <div class="description">
                  <p style="color: rgb(197, 197, 197) ">Become a member for exclusive benefits</p>
                  <a href="/subscribe" class="btn btn-subscribe">Subscribe</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Image Section -->
        <div class="col-lg-6 image-container" style="  background: url('{% static 'images/login.png' %}') no-repeat center center;background-repeat: no-repeat;
  background-size: cover;">
          <p class="col-lg-6 text-left" style="color: #ffffff; font-size: 26px">Discover the world of espionage and intrigue.</p>
        </div>
      </div>
    </div>

    <div class="ellipse-17"></div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const togglePassword = document.querySelector('.toggle-password')
        const passwordField = document.querySelector('#password')
      
        togglePassword.addEventListener('click', function () {
          // Toggle the type attribute
          const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password'
          passwordField.setAttribute('type', type)
      
          // Toggle the eye icon
          this.querySelector('i').classList.toggle('fa-eye')
          this.querySelector('i').classList.toggle('fa-eye-slash')
        })
      })
    </script>
  </body>
</html>
